@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&display=swap");

/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* .testing{
  background-color: red;
  width: 700px;
  height: 800px;
} */

body {
  
}

section {
  width: 1440px;
  padding: 60px 0 1px 0;
  margin: auto auto;
  height: max-content;
}

.commander-container, .specialist-container, .pilot-container, .engineer-container{
  height: 100vh;
background-image: url(/assets/crew/background-crew-desktop.jpg);
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 55px;
  color: #ffffff;
  margin-bottom: 90px;
}

.header ul {
  display: flex;
  gap: 48px;
  padding: 0px 165px 0px 123px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}

.header ul > li {
  list-style-type: none;
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  padding: 37px 0;
  width: max-content;
  cursor: pointer;
}

.header ul > li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 50%);
}

.header ul > li span {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin-right: 12px;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

#crew {
  border-bottom: 3px solid #ffffff;
}

.header a:active {
  border-bottom: 3px solid #ffffff;
}

.header img {
  margin-right: 64px;
}

hr {
  background: #ffffff;
  height: 1px;
  width: 410px;
  opacity: 0.25;
}

section > h1 span {
  font-weight: 700;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin-right: 28px;
}

section > h1 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #ffffff;
  margin-left: 166px;
  margin-bottom: 22px;
}

.details h5 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 15px;
}

.details h1 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
}

.details p {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  margin-bottom: 120px;
  width: 66%;
}

.container {
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 165px;
}

.indicators {
  display: flex;
  gap: 24px;
}

.indicators span {
  padding: 2px 10px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #ffffff;
  opacity: 0.17;
  cursor: pointer;
  height: inherit;
}

.indicators span:hover{
  background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
}

.indicators a{
  text-decoration: none;
  height: inherit;
}

#commander, #specialist, #pilot, #engineer{
  background: #ffffff;
  opacity: 1;
}

.image {
  padding-left: 40px;
  margin-right: 137px;
}
