@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&display=swap");

/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* .testing{
  background-color: red;
  width: 700px;
  height: 800px;
} */

body{
  background-image: url(/assets/destination/background-destination-desktop.jpg);
  background-size: contain;
  /* padding-top: 40px; */
}

.moon-container,
.mars-container,
.europa-container,
.titan-container {
  background-image: url(/assets/destination/background-destination-desktop.jpg);
  background-size: contain;
  height: 100vh;
}

section {
  width: 1440px;
  padding: 150px 0 1px 0;
  margin: auto auto;
  height: max-content;
}

.header {
  position: sticky;
  display: flex;
  align-items: center;
  width: 1440px;
  justify-content: space-between;
  color: #ffffff;
  margin: auto;
  top: 40px;
}

.header ul {
  display: flex;
  gap: 48px;
  padding: 0px 165px 0px 123px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}

.header ul > li {
  list-style-type: none;
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  padding: 37px 0;
  width: max-content;
  cursor: pointer;
}

.header ul > li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 50%);
}

.header ul > li span {
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin-right: 12px;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.panel {
  background-color: #ffffff;
  position: fixed;
  width: 0;
  top: 0;
  padding: 34px 27px 0 32px;
  right: 0;
   height: max-content;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  height: 100vh;
  transition: 0.2s ease-in-out;
}

.panel ul > li {
  list-style-type: none;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
  text-transform: uppercase;
  width: max-content;
  margin-bottom: 32px;
}

.panel ul > li > a {
  text-decoration: none;
  color: #ffffff;
}

.panel ul > li span {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
  margin-right: 12px;
}

.panel img {
  width: 20px;
  height: 20px;
}

.panel-icon {
  display: flex;
  justify-content: end;
  margin-bottom: 65px;
}

#destination {
  border-bottom: 3px solid #ffffff;
}

.nav-bar{
  display: none;
}

.header a:active {
  border-bottom: 3px solid #ffffff;
}

#logo {
  margin-right: 64px;
  margin-left: 55px;
}

.header hr {
  background: #ffffff;
  height: 1px;
  width: 410px;
  opacity: 0.25;
}

section > h1 span {
  font-weight: 700;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin-right: 28px;
}

section > h1 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #ffffff;
  margin-left: 166px;
  margin-bottom: 90px;
}

.container {
  display: flex;
  height: max-content;
  justify-content: center;
  gap: 200px;
  margin-bottom: 140px;
}

.container ul > li {
  list-style-type: none;
  display: inline-block;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #d0d6f9;
  padding-bottom: 12px;
  margin-right: 35px;
  margin-bottom: 37px;
  cursor: pointer;
}

.container ul > li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 50%);
}

.container ul > li a {
  text-decoration: none;
  color: #ffffff;
}

#moon,
#mars,
#europa,
#titan {
  border-bottom: 3px solid #ffffff;
}

.right {
  width: 30%;
}

.destination {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
  color: #ffffff;
  margin-bottom: 20px;
}

.paragraph {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}

.container hr {
  margin-bottom: 38px;
  margin-top: 64px;
}

.details {
  display: flex;
  gap: 79px;
}

.details p {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #d0d6f9;
  margin-bottom: 12px;
}

.details h1 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
/* FOR SCREENS 375px and BELOW */
@media screen and (max-width: 375px) {
  .moon-container,
  .mars-container,
  .europa-container,
  .titan-container {
    background-image: url(/assets/destination/background-destination-mobile.jpg);
  }

  .header {
   margin: 0px 25px 48px 0;
   width: 100%;
  }

  #logo {
    margin-left: 25px;
  }
  .header ul {
    display: none;
  }

  .nav-bar {
    display: block;
    margin-right: 25px;
  }

  section {
    width: 100%;
    padding: 60px 0 1px 0;
  }

  .header hr {
    display: none;
  }

  section > h1 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-align: center;
    margin-bottom: 32px;
    margin-left: 0;
  }

  section > h1 span {
    margin-right: 18px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }

  .container {
    flex-direction: column;
    width: 100%;
    gap: 26px;
  }

  .left {
    width: 45.3%;
    margin: auto;
  }

  .left img {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .paragraph {
    width: 82.7%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 32px;
  }

  .destination {
    font-size: 56px;
    line-height: 64px;
    text-align: center;
  }

  .container ul {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-bottom: 20px;
  }
  .container ul > li {
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
  }

  .details {
    flex-direction: column;
    text-align: center;
    gap: 32px;
  }

  .container hr {
    width: 82.7%;
    margin: 0 auto 32px auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 376px TO 767px */

@media screen and (min-width: 376px) and (max-width: 767px) {
  .moon-container,
  .mars-container,
  .europa-container,
  .titan-container {
    background-image: url(/assets/destination/background-destination-mobile.jpg);
    background-size: cover;
  }

  .header {
   margin: 0px 25px 48px 0;
   width: 100%;
  }

  #logo {
    margin-left: 25px;
  }
  .header ul {
    display: none;
  }

  .nav-bar {
    display: block;
    margin-right: 25px;
  }

  section {
    width: 100%;
    padding: 60px 0 1px 0;
  }

  .header hr {
    display: none;
  }

  section > h1{
    font-size: 20px;
line-height: 24px;
letter-spacing: 3.375px;
margin-bottom: 60px;
margin-left: 0;
text-align: center;
  }

  section > h1 span{
    margin-right: 18px;
    font-size: 20px;
line-height: 24px;
letter-spacing: 3.375px
  }

  .container{
    flex-direction: column;
    width: 100%;
    gap: 26px;
  }

  .left {
    width: 45.3%;
    margin: auto;
  }

  .left img {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .paragraph {
    width: 82.7%;
    margin: auto;
    text-align: center;
    font-size: 16px;
line-height: 28px;
text-align: center;
margin-bottom: 32px;
  }

  .destination {
    font-size: 56px;
    line-height: 64px;
    text-align: center;
  }

  .container ul {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-bottom: 20px;
  }
  .container ul > li {
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
  }

  .details {
    flex-direction: column;
    text-align: center;
    gap: 32px;
  }

  .container hr {
    width: 82.7%;
    margin: 0 auto 32px auto;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS BETWEEN 768px AND 1439px */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .moon-container,
  .mars-container,
  .europa-container,
  .titan-container {
    background-image: url(/assets/destination/background-destination-tablet.jpg);
    background-size: cover;
    height: 100vh;
  }

  .header{
    margin-left: 0;
    width: 100%;
display: flex;
    gap: 2px;
    margin-bottom: 20px;
    top: 0;
  }

  section{
    padding: 100px 0 1px 0;
    width: 100%;
    height: 100vh;
  }

  hr{
    display: none;
  }

  .header ul{
    padding: 0 46px 0 48px;
    gap: 38px;
  }

  .header ul > li {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2.3625px;
  }

  #logo{
    margin-left: 39px;
    margin-right: 0;
  }

  #nav-bar{
    display: none;
  }

  section > h1{
    font-size: 20px;
line-height: 24px;
letter-spacing: 3.375px;
margin-left: 39px;
margin-bottom: 20px;
  }

  section > h1 span{
    margin-right: 19px;
  }

  .container{
    flex-direction: column;
    width: 100%;
    gap: 53px
  }

  .left{
    width: 39%;
    margin: auto;
  }

  .left img{
    width: 100%;
  }

  .right{
    width: 100%;
  }

  .container ul{
    width: 37.1%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 0;
  }

  .container ul > li{
    font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;
margin-right: 0;
margin-bottom: 20px;
  }

  .destination{
    font-size: 80px;
line-height: 92px;
text-align: center;
  }

  .paragraph{
    width: 573px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
line-height: 28px;
  }

  .container hr {
    display: block;
    width: 573px;
    margin: 0 auto 28px auto;
  }

  .details{
    justify-content: center;
  }
}
