@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&display=swap");

/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* .testing{
  background-color: red;
  width: 700px;
  height: 800px;
} */

body{
  padding: 53px 0;
  background-image: url(/assets/home/background-home-desktop.jpg);
  background-size: cover;
}

section {
  width: 1440px;
  padding: 40px 0;
  margin: auto auto;
  height: max-content;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 55px;
  color: #ffffff;
  margin-bottom: 250px;
}

.header ul {
  display: flex;
  gap: 48px;
  padding: 0px 165px 0px 123px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}

.header ul > li {
  list-style-type: none;
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  padding: 37px 0 37px 0;
  width: max-content;
  cursor: pointer;
}

.header ul > li:hover{
  border-bottom: 3px solid rgba(255,255,255, 50%);
}

.header ul > li span {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  margin-right: 12px;
}

.header a{
  text-decoration: none;
  color: #ffffff;
}

#home{
  border-bottom: 3px solid #ffffff;
}

.header a:active{
  border-bottom: 3px solid #ffffff;
}

.header img {
  margin-right: 64px;
}

hr {
  background: #ffffff;
  height: 1px;
  width: 410px;
  opacity: 0.25;
}

.left h5,
.left,
h1 {
  color: #ffffff;
}

.home-content {
  display: flex;
  justify-content: space-between;
  gap: 386px;
  position: relative;
  margin-bottom: 119px;
}

.left{
  margin-left: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 31%;
}

.left h5 {
  color: #d0d6f9;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
}

.left h1 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  color: #ffffff;
}

.left p {
  color: #d0d6f9;
  font-family: 'Barlow Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px;
}

button{
  font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
letter-spacing: 2px;
color: #0B0D17;
background-color: #ffffff;
border: 0;
padding: 115px 63px;
position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
}

.right:has(button:hover) {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.right:has(button:hover) button{
  bottom: 14%;
  right: 2.5%;
  transition: 0.3s;
}


